version: '3.5'

services:
  postgres:
    container_name: postgres_container_2024
    image: postgres:16.2
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres" ]
      timeout: 45s
      interval: 10s
      retries: 10
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-captura}
      PGDATA: /data/postgres
    volumes:
       - ./postgres-data:/data/postgres
       - ./db:/docker-entrypoint-initdb.d/
    ports:
      - "25432:5432"
    networks:
      - postgres
    restart: unless-stopped
  
  pgadmin:
    container_name: pgadmin_container_2024
    image: dpage/pgadmin4:8.4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-captura@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-captura}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
       - pgadmin:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    networks:
      - postgres
    restart: unless-stopped

  mongo:
    container_name: mongo_container_2024
    ports:
      - "${MONGODB_PORT:-27017}:27017"
    restart: unless-stopped
    logging:
      options:
        max-size: 1g
    environment:
      - MONGO_INITDB_ROOT_USERNAME=captura
      - MONGO_INITDB_ROOT_PASSWORD=captura123
      - MONGO_INITDB_DATABASE=mobileforms
      - AUTH=yes
      - MONGODB_ADMIN_USER=admin
      - MONGODB_ADMIN_PASS=admin123
      - MONGODB_APPLICATION_DATABASE=mobileforms
      - MONGODB_APPLICATION_USER=captura
      - MONGODB_APPLICATION_PASS=captura123
    image: mongo:7.0.6
    volumes:
      - ./mongo-data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  

  mailhog:
    container_name: mailhog_container_2024
    ports:
      - 1025:1025
      - 8025:8025
    restart: unless-stopped
    image: mailhog/mailhog

networks:
  postgres:
    driver: bridge

volumes:
    pgadmin:

